cells {
  background-color: #fff;
  display: flex;
  width: 70vw;
  height: 0.15vw;
  justify-content: center;
  border: gray 20px;
  margin: auto;
}

body {
  background-color: rgb(155, 224, 224);
}

whiteHover {
  background-color: #fff;
}

/* box-sizing: border-box; */
/* flex-flow: column wrap; */
/*
  margin: auto;
  gap: 20px 10px; */
/* grid-template-columns: 10vh 10vh; */

.title {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  /* gap: 10px; */
  margin: auto;
  background:rgb(213, 133, 216);
  border-radius: 100px;
  padding: 3px 30px;
  border: 1px solid black;
  cursor: pointer;
}
