gridsContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(96, 79, 252, 0.082), white);
}

.board {
  /* background-color: #fff; */
  /* display: flex; */
  display: grid;
  height: 70vh;
  width: 80vw;

  /* Insert a gray box shadow  */

  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  /* flex: 1; */
  /* width: 70vw;
  height: 0.15vw; */
  margin: auto;
}

inputButton {
  margin-bottom: 2vh;
}

body {
  background-color: rgb(155, 224, 224);
}

.title {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  /* gap: 10px; */
  margin: auto;
  background: rgb(236, 222, 240);
  border-radius: 100px;
  padding: 3px 30px;
  border: 1px solid black;
  cursor: pointer;
}

.buttons {
  padding: 20px;
}

.inputButton {
  padding: 20px 20px;
}